* {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 3rem;
}
h2{
  font-size: 18px;
  font-weight: 500;
}
h3{
  font-size: 1.5rem;
  padding-top: 72px;
}
#vista{
  display: flex;
  flex-flow: row wrap ;
  
}
.card-panel{
  position: relative;
}
#border__form{
  width: 0%;
  height: 3px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: width .5s ease;
}
.card {
  padding: 12px 12px;
  max-width: 220px;
  margin-right: 16px;
  min-height: 250px;
  transition: .3s ease ;
  position: relative;
  
}
span{
    font-weight: 500;
  
   
}
#tilde-verde {
  display: none;
}

.card li {
  list-style: none;
  margin-right: 66px;
}

ul li:hover{
  opacity: .9;
  
}
.items{
  padding-top: 4px;
}
label{
  position: sticky;
}
.input{
  margin-top: 24px;
 
}
input{
  margin-top: 10px;
  margin-left: 10px;
  
}
#vista{
  margin-left: -10px;
  
}

.btn{
  position: absolute;
 
  left: 12px;
  bottom: 12px;
}
#vistaclientes {
  padding: 1rem;
}
#telefono {
  position: relative;
}
#avisotelefono {
  color: rgb(180, 78, 38);
  position: absolute;
  right: 0;
  display: none;
}
.aviso__exito{
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 25px;
  position: absolute;
  top: 565px;
  z-index: 12;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity ease-in-out .3s;
  margin: auto;
  background-color: rgb(23, 138, 23);
  width: 70%;
  height: 80px;

}

@media screen and (max-width:550px){
  #vista{
    display: flex;
    flex-flow: column ;
    width: 103%;
  }
  .card {
    padding: 12px 12px;
    max-width: fit-content;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 180px;
   
  }
  
}
@media screen and (max-width:350px){
  #vista{
    display: flex;
    flex-flow: column ;
    width: 103%;
  }
  .card {
    padding: 12px 12px;
    max-width: fit-content;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 190px;
   
  }
  
}