* {
  margin: 0;
  padding: 0;
}

#vacio{
  z-index: -2;
  position: absolute;
  margin-top: 4px;
}
#nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  z-index: 32;
  background: #DB7777;
}
.h1 {
  font-size: 3rem;
 
}
h2{
  font-size: 18px;
  font-weight: 500;
}
h3{
  font-size: 1.5rem;
  padding-top: 52px;
  
}
#vista{
  display: flex;
  flex-flow: row wrap ;
  
}
.card-panel{
  position: relative;
}
#border__form{
  width: 0%;
  height: 3px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: width .5s ease;
}
#vistaingresos {
  padding: 12px 12px;
  max-width: 220px;
  margin-right: 16px;
  min-height: 250px;
  transition: .3s ease ;
  position: relative;
  
}
span{
    font-weight: 500;
  
   
}
#tilde-verde {
  display: none;
}

.card li {
  list-style: none;
  margin-right: 66px;
}

ul li:hover{
  opacity: .9;
  
}
.items{
  padding-top: 4px;
}
label{
  position: sticky;
}
.input{
  margin-top: 24px;
 
}
input{
  margin-top: 10px;
  margin-left: 10px;
  
}
#vista{
  margin-left: -10px;
  
}

.card .btn{
  position: absolute;
 
  left: 12px;
  bottom: 12px;
}
#vistaclientes {
  padding: 1rem;
}
#telefono {
  position: relative;
}
#avisotelefono {
  color: rgb(180, 78, 38);
  position: absolute;
  right: 44px;
  display: none;
}
.aviso__exito{
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 25px;
  position: absolute;
  top: 565px;
  z-index: 12;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity ease-in-out .3s;
  margin: auto;
  background-color: rgb(23, 138, 23);
  width: 70%;
  height: 80px;

}




/* splash screen */
.titulo{
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}
#subtitulo{
  text-align: left;
  
}
#hero{
  display: flex;
 align-items: center;
  
  
}
#hero button{
  margin-top: 18px;
}
img{
  height: 400px;
}
button:hover{
  opacity: .9;
}
button a{
  color: white;
}

/* clientes */
#cardclientes{
  padding: 12px 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  
  
  min-height: 60px;
  transition: .3s ease ;
  position: relative;
}

/* i{
  position: absolute;
  right: 12px;
  color:green;
  font-size: 28px;
  
}  */



@media screen and (max-width:350px){
  #vista{
    display: flex;
    flex-flow: row ;
    padding: 0;
  }
  #cardclientes {
    padding: 12px 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   
   
  }
  #cardclientes li{
    border: solid 1px red;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   
  } 
  
  
}
